@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #e7efff;
}

.game {
  margin: 0;
  padding: 0;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-header {
  color: #0505b3;
  text-align: center;
  margin-top: 50px;
  font-size: 3.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-screen {
  background-color: #143eb1;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bold;
  font-size: 3rem;
}

.single-play__result {
  font-size: 3rem;
  font-weight: bold;
  transform: scale(1.5);
}

.game-input {
  padding: 10px;
  border: 1px solid #143eb1;
  border-radius: 5px;
  color: #302f2f;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  /* margin: 50px auto; */
  outline: none;
}

input::placeholder {
  font-weight: 100;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus::-webkit-input-placeholder {
  color: #fff;
}

.start-game__button {
  border: 2px solid #143eb1;
  background-color: #143eb1;
  color: #fff;
  font-size: 2rem;
  padding: 15px;
  cursor: pointer;
  margin-top: 50px;
  border-radius: 5px;
}

.start-game__button:hover {
  border: 2px solid #143eb1;
  color: #143eb1;
  background-color: #fff;
}

.game-message__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.game-buttons__play {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  padding-bottom: 30px;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backGr {
  animation: backGr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -webkit-animation: backGr 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.backGr:hover {
  animation: step-end;
}

@keyframes backGr {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    color: #143eb1;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@-moz-keyframes backGr {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@-webkit-keyframes backGr {
  00% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@-o-keyframes backGr {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

@-ms-keyframes backGr {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

#paper,
#rock,
#scissors {
  padding: 10px;
  border-radius: 10px;
}

#paper:hover,
#rock:hover,
#scissors:hover {
  color: #003699;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#paper:active,
#rock:active,
#scissors:active {
  transform: translate(3px, 1px);
}

.btn-active--comp {
  color: red;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transform: translate(3px, 1px);
}

.game-score__results {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-wrapper,
.comp-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-wrapper {
  position: absolute;
  top: 10px;
  left: 20px;
}

.comp-wrapper {
  position: absolute;
  top: 10px;
  right: 20px;
}

.game-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.game-winner {
  text-align: center;
  font-size: 2em;
  color: #ff0000;
  font-weight: bold;
}

.comp-choice,
.player-choice {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.wins-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid #122579;
  border-radius: 5px;
  padding: 20px;
}

.comp-result,
.player-result {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  color: #143eb1;
  margin-right: 15px;
}

.comp-result__score,
.player-result__score {
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  color: #6495ed;
}

.log-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

table.result-table {
  width: 50%;
  text-align: left;
  border-collapse: collapse;
  overflow-x: auto;
}

table.result-table td,
table.result-table th {
  border: 1px solid #000000;
  padding: 5px;
}

table.result-table thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 50%);
  background: -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #d3d3d3 66%,
    #cfcfcf 50%
  );
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 50%);
}

table.result-table thead th {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

table.result-table tfoot {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  height: 20px;
}

table.result-table td:first-of-type,
table.result-table th:first-of-type {
  width: 30px;
  text-align: center;
}

table.result-table td,
table.result-table th {
  width: 150px;
  text-align: center;
}
